
    <div class="mdl-grid" style="margin:auto 0 !important">

        <div *ng-for="#child of children | slice:0:12" class="mdl-cell mdl-cell--4-col" (click)="gotoDetail(child)">

            <div class="demo-card-wide mdl-card mdl-shadow--2dp" [style.background]='getUrl(child)' style="margin: 0 auto">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">{{child.name}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    {{child.missingFrom}}<br/>
                    Age: {{child.ageNow}}<br/>
                    {{child.contactName}} | {{child.contactPhone}}
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      See More Information
    </a>
                </div>
                <div class="mdl-card__menu">
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">share</i>
                    </button>
                </div>
            </div>

        </div>

    </div>
